{#
/**
 * @file
 * Template for the features block.
 */
#}
<div class="features-block">
  <div class="layout-container">
    <div class="features-grid">
      <div class="feature-item first">
        <div class="progress-circle animate" data-once="features">
          <svg viewBox="0 0 100 100">
            <circle class="circle-bg" cx="50" cy="50" r="43"></circle>
            <circle class="circle-white-sector" cx="50" cy="50" r="43"></circle>
            <circle class="circle-progress" cx="50" cy="50" r="43"></circle>
          </svg>
          <div class="progress-text">82%</div>
        </div>
        <p class="feature-title">Больше функционал</p>
      </div>

      <div class="feature-item second">
        <div class="progress-circle">
          <svg viewBox="0 0 100 100">
            <circle class="circle-bg" cx="50" cy="50" r="43"/>
            <circle class="circle-white-sector" cx="50" cy="50" r="43"></circle>
            <circle class="circle-progress" cx="50" cy="50" r="43"></circle>
          </svg>
          <div class="progress-text">68%</div>
        </div>
        <p class="feature-title">Лучше производительность</p>
      </div>

      <div class="feature-item third">
        <div class="progress-circle">
          <svg viewBox="0 0 100 100">
            <circle class="circle-bg" cx="50" cy="50" r="43"/>
            <circle class="circle-white-sector" cx="50" cy="50" r="43"></circle>
            <circle class="circle-progress" cx="50" cy="50" r="43"></circle>
          </svg>
          <div class="progress-text">90%</div>
        </div>
        <p class="feature-title">Пользовательский интерфейс</p>
      </div>

      <div class="feature-item fourth">
        <div class="progress-circle">
          <svg viewBox="0 0 100 100">
            <circle class="circle-bg" cx="50" cy="50" r="43"/>
            <circle class="circle-white-sector" cx="50" cy="50" r="43"></circle>
            <circle class="circle-progress" cx="50" cy="50" r="43"></circle>
          </svg>
          <div class="progress-text">75%</div>
        </div>
        <p class="feature-title">Служба поддержки</p>
      </div>
    </div>
  </div>
</div>
