.home-page-custom-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.home-page-text {
  max-width: 550px;
  flex: 1 1 5500px;
}

.home-page-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 550px;
  img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}

.under-banner-p{
    display: flex;
    gap: 10px;
    img{
        width: 22px;
    }
}