
.home-page-custom-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.home-page-text {
  max-width: 550px;
  flex: 1 1 5500px;
}

.home-page-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 550px;
  img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}


.under-banner-p {
  display: flex;
  gap: 10px;
}

.under-banner-p img {
  width: 22px;
}

.front-contacts {
  margin: 4rem 0;
  display: flex;
  gap: 2rem;
  align-items: flex-start;

  .contacts-content {
    flex: 1;
    min-width: 300px;

    h4 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      &:first-child {
        margin-top: 0;
      }
    }

    p {
      margin: 0;
      color: @text-color;
    }
    .bold-line{
      font-weight: 800;
    }
  }

  .contacts-map {
    flex: 1;
    margin: 0;
    border-radius: @border-radius;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 500px;
    min-width: 400px;

    #contacts-map {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;

      // Leaflet specific styles
      .leaflet-popup-content-wrapper {
        border-radius: @border-radius;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }

      .leaflet-popup-content {
        margin: 13px 20px;
        font-size: 14px;
        line-height: 1.4;
      }

      .leaflet-control-zoom {
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .leaflet-control-zoom a {
        border-radius: @border-radius;
      }
    }
  }

  // Responsive styles
  @media (max-width: 768px) {
    flex-direction: column;

    .contacts-map {
      width: 100%;
      min-width: 100%;
    }
  }
}
